body {
  font-family: 'Raleway';
  color: (#b8F3FF);
  background-color: (purple);
  text-align: left;
}

header {
  font-family: 'Raleway';
  color: (#b8F3FF);
  background-color: (purple);
  text-align: left;  
}