{% extends 'layout.html' %}

{% block body %}
<table style="width:100%">
        <!-- Headers for the table -->
        <tr>
            <th>Name</th>
            <th>Date Added</th>
            <th>User Added</th>
            <th>Description</th>
            <th>Date Published</th>
            <th>Publisher</th>
            <th>Developer</th>
        </tr>
        <!-- Here the data pulled from the database is displayed with html -->
        {% for game in game %}
            <tr>
                <td>{{ game.name }}</td>
                <td>
                {{ game.dateadded }}
                </td>
                <td>
                {{ game.useradded }}
                </td>
                <td>
                {{ game.description }}
                </td>
                <td>
                {{ game.datepublished }}
                </td>
                <td>
                {{ game.publisher }}
                </td>
                <td>
                {{ game.developer }}
                </td>
            </tr>
        {% endfor %}
    </table>

    <form method="POST" name="comment">
        <input type="submit" value="Comment">
        <input type="text" name="user_comment">
    </form>

    <table style="width:50%">
        <!-- headers for table -->
        <tr>
            <th>Comments</th>
        </tr>
        <!-- here the data from the comments table of the database is displayed-->
        {% for comment in comment %}
        <tr>
            <td>
                {{ comment.comment }}
            </td>
        </tr>
        {% endfor %}
    </table>

{% endblock body %}