{% extends 'layout.html' %}

{% block body %}
<h2>
    {{ game.name }}
</h2>
<div class="gamedata" id="gamedata">
    {{ game.dateadded }}<br>
    {{ game.useradded }}<br>
    {{ game.description }}<br>
    {{ game.datepublished }}<br>
    <table>
        <tr>
            <th>Publisher</th>
            {{ game.publisher }}<br>
            <th>Developer</th>
            {{ game.developer }}<br>
        </tr>
        <tr>
            <td>
                {{ game.publisher }}<br>
            </td>
        </tr>
        <tr>
            <td>
                {{ game.developer }}<br>
            </td>
        </tr>
    </table>
</div>

{% if session.get('user') %}
<br>
<form method="POST" name="comment" action="/comment/{{ game.ID }}">
    <input type="submit" class="button" value="Comment">
    <input type="text" name="comment">
    <input type="hidden" value="{{ request.path }}" name="from"> <!-- change to full.path if i need to do fancy stuff-->
</form>
{% endif %}
<br>

<table style="width:25%">
    <!-- headers for table -->
    <tr>
        <th>Comment</th>
        <th>User</th>

    </tr>
    <!-- here the data from the comments table of the database is displayed-->
    {% for comment in game.comments %}
    <tr>
        <td>
            {{ comment.comment }}
        </td>
        <td>{{ comment.userinfo.username }} </td>
    </tr>
    {% endfor %}
</table>

{% endblock body %}