{% extends 'layout.html' %}

{% block body %}

<div class="gamedata" id="gamedata"></div>
    <!-- table data for the game-->
    <table id="gametable">
        <h1> {{ game.name }}</h1>
        <desc>   
            <h2> Description </h2>
            {{ game.description }}<br>
            
            <h2> Date Added </h2>
            {{ game.dateadded }}<br>
            
            <h2> Posted By: </h2>
            {{ game.useradded }}<br>
            
            <h2> Date Published </h2>
            {{ game.datepublished }}<br>
            
            <h2> Publisher </h2>
            {{ game.publisher }}<br>
            
            <h2> Developer </h2>
            {{ game.developer }}<br>
        </desc>
    </table>
</div>

<!-- form for inputting a comment, only visible if the user is logged in-->
{% if session.get('user') %}
<br>
<form method="POST" name="comment" action="/comment/{{ game.ID }}">
    <input type="submit" class="button" value="Comment">
    <input type="text" name="comment">
    <input type="hidden" value="{{ request.path }}" name="from"> <!-- change to full.path if i need to do fancy stuff-->
</form>
{% endif %}
<br>


<table style="width:25%">
    <!-- headers for table -->
    <tr>
        <th>Comment</th>
        <th>User</th>
    </tr>
    <!-- here the data from the comments table of the database is displayed-->
    {% for comment in game.comments %}
    <tr>
        <td>
            {{ comment.comment }}
        </td>
        <td>{{ comment.userinfo.username }} </td>
        <!-- delete button -->
        <desc>you can only delete your own comments :)</desc>
        {% if session.get('user') %}
        <form method="POST" name="delete" action="/delete">
        <td>
            <input type="submit" class="button" value="Delete">
            <input type="hidden" value="{{ comment.ID }}" name="deletion">
            <input type="hidden" value="{{ comment.userid }}" name="userid">
            <input type="hidden" value="{{ request.path }}" name="from"> <!-- change to full.path if i need to do fancy stuff-->
        </td>
        </form>
        {% endif %}
    </tr>
    {% endfor %}
</table>


{% endblock body %}