    {% extends 'layout.html' %}

{% block body %}
<h1>Game Index</h1>
<!-- The table for the database-->

<table style="width:100%">
    <!-- Headers for the table -->
    <tr>
        <th>Name</th>
        <th>Date Added</th>
        <th>User Added</th>
    </tr>
    <!-- Here the data pulled from the database is displayed with html -->
    {% for game in game %}
    <tr>
        <td><a href="/game/{{ game.ID }}">{{ game.name }}</a></td>
        <td>
            {{ game.dateadded }}
        </td>
        <td>
            {{ game.useradded }}
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock body %}